---
title: "Our plants"
layout: default
---

<h1>Our pl<i class="fab fa-pagelines heading-a-replacement"></i>nts</h1>

<div class="plants">
  {% assign sorted-plants = plants | sort: "latin-name" %}
  {% for plant in sorted-plants %}
    <div class="plant">
      <h2>{{ plant.name }}</h2>
      <p class="latin-name">{{ plant.latin-name }}
      <dl>
        <dt><i class="fas fa-faucet"></i>
        <dd>{{ plant.watering }}

        <dt><i class="fas fa-sun"></i>
        <dd>{{ plant.lighting }}

        <dt><i class="fas fa-cloud"></i>
        <dd>{{ plant.humidity }}

        <dt><i class="fas fa-thermometer-half"></i>
        <dd>{{ plant.temperature }}

        <dt><i class="fas fa-utensils"></i>
        <dd>{{ plant.feeding }}

        <dt><i class="fas fa-layer-group"></i>
        <dd>{{ plant.soil }}
      </dl>
    </div>
  {% endfor %}
</div>